{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "ignorePatterns": ["node_modules/", ".pnp.cjs", ".pnp.loader.cjs", "public/"],
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:react/recommended", // React 규칙 추가
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react", // React 플러그인 추가
    "simple-import-sort",
    "unused-imports",
    "prettier"
  ],
  "settings": {
    "react": {
      // React 설정 추가
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [["@", "./src"]],
        "extensions": [".js", ".jsx", ".json"] // jsx 확장자 추가
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      // JSX 지원 추가
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "simple-import-sort/exports": "error",
    "unused-imports/no-unused-imports": "error",
    "import/prefer-default-export": "off",
    "simple-import-sort/imports": "error",

    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "always",
        "jsx": "always" // jsx 확장자 규칙 추가
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling", "index"],
          "object",
          "type"
        ],
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
